<h3>Cadastro de Pessoas V1</h3>
<div [hidden]="submitted" style="width: 400px;">
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="name">Nome</label>
            <input type="text" class="form-control" id="nome" required [(ngModel)]="pessoa.nome" name="nome">
        </div>

        <div class="form-group">
            <label for="name">CPF</label>
            <input type="text" class="form-control" id="cpf" required [(ngModel)]="pessoa.cpf" name="cpf" mask="000.000.000-00">
        </div>

        <div class="form-group">
            <label for="name">Sexo</label>
            <select class="form-control" id="sexo" [(ngModel)]="pessoa.sexo" name="sexo">
              <option value="FEMININO">Feminino</option>
              <option value="MASCULINO">Masculino</option>
            </select>
        </div>

        <div class="form-group">
            <label for="name">Email</label>
            <input type="text" class="form-control" id="email" [(ngModel)]="pessoa.email" name="email">
        </div>

        <div class="form-group">
            <label for="name">Data de Nascimento</label>
            <div class="input-group">
              <input class="form-control" placeholder="dd/mm/aaaa" id="dataNascimento" name="dataNascimento" [(ngModel)]="pessoa.dataNascimento" readonly ngbDatepicker #d="ngbDatepicker">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
              </div>
            </div>
        </div>

        <div class="form-group">
            <label for="Naturalidade">Naturalidade</label>
            <input type="text" class="form-control" id="naturalidade" [(ngModel)]="pessoa.naturalidade" name="naturalidade">
        </div>

        <div class="form-group">
            <label for="Nacionalidade">Nacionalidade</label>
            <input type="text" class="form-control" id="nacionalidade" [(ngModel)]="pessoa.nacionalidade" name="nacionalidade">
        </div>

        <button type="submit" class="btn btn-success">Cadasstrar</button>
    </form>
</div>

<div [hidden]="!submitted">
    <h4>Cadastro realizado com sucesso!</h4>
</div>
